<!-- views/pages/404.ejs -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <% include ../partials/header %>
        <main>
            <div class="jumbotron">
                <h1>Error 404</h1>
                <p>Page does not exist.</p>
            </div>
        </main>
        <% include ../partials/footer %>
    </body>
</html>
