<!-- views/pages/about.ejs -->
<!DOCTYPE html>

<html lang="en">
    <% include ../partials/head %>

    <body class="container">
        <% include ../partials/header %>
        <main>
            <div class="jumbotron">
                <h1>About</h1>
                <p>This is meant to be used as a testbed for various web technologies</p>
                <p>Author: j-pai</p>
            </div>
        </main>
        <% include ../partials/footer %>
    </body>
</html>
