<!-- views/pages/messages.ejs -->
<!DOCTYPE html>

<html lang="en">
    <% include ../partials/head %>
    
    <body class="container">
        <% include ../partials/header %>
        <main>
            <div class="jumbotron">
                <h2>Messages</h2>
                <p>The following is a list of messages that were sent to twilio.</p>

            </div>
        </main>
        <% include ../partials/footer %>
    </body>
</html>

