<!-- views/pages/messages.ejs -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <% include ../partials/header %>
        <main>
            <div class="jumbotron">
                <h2>Messages</h2>
                <p>The following is a list of messages that were sent to twilio.</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Time Sent</th>
                            <th>Message</th>
                        </tr>
                        <% for (let i = 0; i < messages.length; i++) { %>
                            <tr>
                                <td><%= messages[i].time_sent %></td>
                                <td><%= messages[i].body %></td>
                            </tr>
                        <% } %>
                    </thead>
                </table>
            </div>
        </main>
        <% include ../partials/footer %>
    </body>
</html>

