<!-- views/pages/socket-messages.ejs -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <% include ../partials/head %>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body class="container">
        <% include ../partials/header %>
        <main>
            <div class="jumbotron">
                <h2>Messages with Socket.io</h2>
                <p>The following is a list of messages that were sent to twilio.</p>
                <p>The table should auto update through the use of sockets</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Time Sent</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i< messages.length; i++) { %>
                            <tr>
                                <td width="50em"><%= i %></td>
                                <td width="300em"><%= messages[i].time_sent %></td>
                                <td><%= messages[i].body %></td>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </main>
        <% include ../partials/footer %>
        <script>
            var socket = io();
        </script>
    </body>
</html>
